/** Test Login Configuration **/

LogAnalyzer {
   com.amerigroup.security.LATLoginModule required debug="true" testOption="here_is_an_option" java.naming.factory.initial="com.sun.jndi.ldap.LdapCtxFactory" java.naming.provider.url="ldap://corp.agp.ads:389" java.naming.security.authentication="simple" bindDN="CN=AGP LDAP Query,OU=Service Accounts,OU=Services,DC=corp,DC=agp,DC=ads" bindCredential="#Quaere16" baseCtxDN="OU=people,DC=corp,DC=agp,DC=ads" baseFilter="(sAMAccountName={0})" rolesCtxDN="OU=Security,OU=Groups,DC=corp,DC=agp,DC=ads" roleRecursion="-1" matchOnUserDN="false" roleAttributeID="memberOf" roleFilter="(member={1})" roleAttributeIsDN="true" allowEmptyPasswords="false";
};


